.chatbot {
  position: fixed;
  right: 20px;
  bottom: 130px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 50%;
  background-color: white;
}

.chatbot span {
  visibility: hidden;
  background-color: #0000ff;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  right: 50px; /* Ajusta este valor para alinear el mensaje con la imagen. */
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1002; /* Asegura que el mensaje siempre esté encima de la imagen. */
}

.chatbot img {
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.chatbot img:hover {
  border-radius: 50%;
  border: 3px solid #0000ff;
  box-sizing: border-box;
}

.chatbot:hover span {
  visibility: visible;
}
