html, body #root #homepage {
  height: 100%;
  min-height: 100vh;  /* Esto asegura que el body tenga al menos la altura de la ventana del navegador. */
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
